AGORA_APP_ID=
AGORA_APP_CERTIFICATE=
AGORA_CUSTOMER_ID=
AGORA_CUSTOMER_SECRET=

ALLOWED_TEACHER_EMAILS=sabkapremium22@gmail.com,sonvirhts@gmail.com,journyoflife1@gmail.com,faujdarsonu908@gmail.com,testyodha3@gmail.com

FIREBASE_PROJECT_ID=test-yodha-01
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=

# Google Cloud / Firebase Storage bucket
AGORA_RECORDING_BUCKET=test-yodha-01.firebasestorage.app
# Agora upload to GCS still needs HMAC interoperability keys
AGORA_RECORDING_ACCESS_KEY=
AGORA_RECORDING_SECRET_KEY=
AGORA_RECORDING_STORAGE_VENDOR=
AGORA_RECORDING_STORAGE_REGION=
AGORA_RECORDING_FILE_PREFIX=testyodha
AGORA_RECORDING_UID=999999
RECORDING_SIGNED_URL_TTL_SECONDS=900
